<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:fragment="edit">

        <form th:action="@{/event/{eventUUID}/edit(eventUUID = ${event.getUUID()})}" enctype="multipart/form-data"
            method="post" id="updateForm" name="updateForm">

            <div class="form-group">
                <label for="eventname">Event Name: </label>
                <input type="text" class="form-control" name="eventname" th:value="${event.getName()}">
            </div>

            <div class="form-group">
                <label for="eventdesc">Image: </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="file">
                    <label class="custom-file-label" for="customFile">Choose new file</label>
                </div>
            </div>

            <div class="form-group">
                <label for="eventdesc">Event Description: </label>
                <textarea type="text" class="form-control" name="eventdesc" placeholder="Description..."
                    th:text="${event.getDescription()}"></textarea>
            </div>

            <div class="form-group">
                <label for="eventlocation">Event Location:</label>
                <input type="text" class="form-control" name="eventlocation" placeholder="Location..."
                    th:value="${event.getLocation()}">
            </div>

            <div class="form-group">
                <label for="eventTimes">Event Times:</label>

                <script type="text/javascript"
                        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

                <script>
                    // Counter for the rows
                    var dateRowNo = 0;

                    $(document).ready(function(){
                        $('.add').click(function(){
                            // Read dateRowNo
                            dateRowNo = document.updateForm.rows.value;

                            console.log("Testing here");
                            console.log(dateRowNo);

                            // Day formatting for the generated HTML
                            $(function() {$("#startDay" + dateRowNo).datepicker({ format: 'yyyy-mm-dd' })});
                            $(function() {$("#endDay" + dateRowNo).datepicker({ format: 'yyyy-mm-dd' })});

                            // Incrementing the counter
                            dateRowNo++;
                            $(".list").append(
                                '<div class="row">' +
                                '<label>From:</label>' +
                                '<div class="col">' +
                                '<input type="datetime" class="form-control" placeholder="dd-mm-yyyy" name="startDays" id="startDay' + dateRowNo + '" readonly>' +
                                '</div>' +
                                '<div class="col">' +
                                '<input type="time" class="form-control" step="1" id="startTime' + dateRowNo + '" name="startTimes">' +
                                '</div>' +
                                '<label>Until:</label>' +
                                '<div class="col">' +
                                '<input type="datetime" class="form-control" placeholder="dd-mm-yyyy" name="endDays" id="endDay' + dateRowNo + '" readonly>' +
                                '</div>' +
                                '<div class="col">' +
                                '<input type="time" class="form-control" step="1" id="endTime' + dateRowNo + '" name="endTimes">' +
                                '</div>' +
                                '<div class="row"></div>' +
                                '<div class="col">' +
                                '<p class="btn btn-light remove">Remove</p>' +
                                '</div>' +
                                '</div>');

                            // Write dateRowNo
                            document.updateForm.rows.value = dateRowNo;
                        });

                        $(".list").on('click', '.remove', function(){
                            $(this).parent().parent().remove();
                        });
                    });

                    // Day formatting for pre-included HTML
                    $(function() {$("#startDay0").datepicker({ format: 'yyyy-mm-dd' })});
                    $(function() {$("#endDay0").datepicker({ format: 'yyyy-mm-dd' })});

                    // Finding user's time zone
                    var offset = new Date().getTimezoneOffset();

                    var plusMinusTimeZone = "";
                    if (offset > 0){
                        plusMinusTimeZone = "-";
                    }else{
                        plusMinusTimeZone = "+";
                    }

                    HoursTimeZone = Math.floor(Math.abs(offset)/60).toString();
                    if (HoursTimeZone.length < 2){
                        HoursTimeZone = "0" + HoursTimeZone;
                    }

                    MinutesTimeZone = Math.abs(offset%60).toString();
                    if (MinutesTimeZone.length < 2){
                        MinutesTimeZone = "0" + MinutesTimeZone;
                    }
                </script>

                <div class="container" id="timeRangeGroup">
                    <div class="col list">
                        <div class="row align-items-start" th:each="t : ${times}">
                            <label>From:</label>
                            <div class="col">
                                <input type="datetime" class="form-control" name="startDays" placeholder="dd-mm-yyyy" th:id="${t[4]}"
                                       th:value="${t[0]}" readonly>
                            </div>
                            <div class="col">
                                <input type="time" class="form-control" step="1" th:id="${t[5]}" name="startTimes"
                                th:value="${t[1]}">
                            </div>

                            <label>Until:</label>
                            <div class="col">
                                <input type="datetime" class="form-control" name="endDays" placeholder="dd-mm-yyyy" th:id="${t[6]}"
                                       th:value="${t[2]}" readonly>
                            </div>
                            <div class="col">
                                <input type="time" class="form-control" step="1" th:id="${t[7]}" name="endTimes"
                                th:value="${t[3]}">
                            </div>
                            <div class="row"></div>
                            <div class="col">
                                <p class="btn btn-light remove">Remove</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <p class="btn btn-light add" id="add">Add</p>
                    </div>

                    <input type="hidden" name="jsonTimes" id="jsonTimes" value="">
                    <input type="hidden" name="rows" id="rows" th:value="${rows}">
                </div>
            </div>

            <script>
                function JSONFormatting() {
                    var eventDates = [];
                    dateRowNo = document.updateForm.rows.value;
                    for (i=0; i<dateRowNo+1; i++) {
                        if (document.getElementById('startDay'+i) !== null) {
                            var startDay = document.getElementById('startDay'+i).value;
                            var startTime = document.getElementById('startTime'+i).value;
                            var endDay = document.getElementById('endDay'+i).value;
                            var endTime = document.getElementById('endTime'+i).value;
                            const startDate = startDay + 'T' + startTime + plusMinusTimeZone + HoursTimeZone + ":" + MinutesTimeZone;
                            const endDate = endDay + 'T' + endTime + plusMinusTimeZone + HoursTimeZone + ":" + MinutesTimeZone;
                            let dateEntry = new Map()
                            dateEntry['start'] = startDate;
                            dateEntry['end'] = endDate;
                            eventDates.push(dateEntry);
                            console.log(eventDates);
                        }
                    }
                    document.updateForm.jsonTimes.value = JSON.stringify(eventDates);
                    document.forms["updateForm"].submit();
                }
            </script>

            <button onclick="JSONFormatting()" class="btn btn-primary">Save</button>
        </form>

    </div>

    <div th:fragment="invite">
        <form th:action="@{/event/{eventUUID}/users(eventUUID = ${event.getUUID()})}" enctype="multipart/form-data" th:method="POST">
            <div class="form-group">
                <div class="container">
                    <row>
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Caution</h4>
                            Enter the required users UUID string (e.g. 244ab0d3-332c-4aeb-83d8-962e21bff7c1) or email.
                          </div>
                    </row>
                </div>
            </div>
            <div class="form-group">
                <div class="container" id="usersRequired">
                <div class="input-group mb-3">  
                    <input type="text" class="form-control" id="myInput" name="usersRequired" placeholder="Recipient's UUID"
                           aria-label="Recipient's UUID" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="but_add" type="button"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
                    
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>

        
        <script>
            $(document).ready(function () {
        
                $('#but_add').click(function () {
                    var html = '<div class="input-group mb-3"><input type="text" class="form-control" id="myInput" name="usersRequired" ' +
                        'placeholder="Recipient\'s UUID" aria-label="Recipient\'s UUID" aria-describedby="basic-addon2">' +
                        '<div class="input-group-append"> <button class="btn btn-outline-secondary" id="but_add" type="button" onclick="remove(this)">' +
                        '<i class="bi bi-dash"></i></button></div></div>';
                    var b = document.getElementById("but_add").parentElement.parentElement;
                    $(html).insertAfter(b);
                });
        
            });
        </script>

        <script>
            function remove(el){
                var myobj = el.parentElement.parentElement;
                myobj.remove();
            }
        </script>
    </div>

    <div th:fragment="confirm">

            <form th:action="@{/event/{eventUUID}/results/confirm(eventUUID = ${event.getUUID()})}" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label for="message">Message (optional) </label>
                <input type="text" class="form-control" name="message">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Send Confirmation</button>
        </form>

    </div>

    <div th:fragment="facilities_selector">
        <div class="input-group mb-3 content">
            <input type="text" name="serviceName" class="form-control" placeholder="Facility/Service" aria-label="Facility/Service" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" id="addRange" type="button" value="hi"><i class="bi bi-plus-square-fill"></i> Add</button>
            </div>
          </div>
        <script>
            $(document).ready(function () {
                $('#addRange').click(function () {
                    var serviceName = $(this).closest("div.content").find("input[name='serviceName']").val();
                    if (serviceName.length < 1){
                        alert("Can't be empty");
                        return;
                    }
                    //alert(JSON.stringify(serviceName));
                    //alert(this.closest('form-control').value);
                    var facilitiesMarkup = `
                        <div class="card w-100 mt-2 bg-light">
                            <div class="card-body">
                                <input hidden type="text" name="facilities"value='${serviceName}'/>
                                <div class="row align-items-center">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="span10">
                                                <p class="card-text">${serviceName}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="hiya" class="btn btn-light myButton" onclick="$(this).closest('div.card').fadeOut('fast',function(){$(this).closest('div.card').remove();});"><i class="bi bi-x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    $("#facilitiesList").append(facilitiesMarkup);
                    $(this).closest("div.content").find("input[name='serviceName']").val("");
                });
            });
        </script>
    </div>

    <div th:fragment="poll_creator">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModal">
            <i class="bi bi-plus-square-fill"></i>
            New
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Poll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pollName">Poll Name</label>
                        <input type="text" class="form-control" id="pollName" placeholder="Name">
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pollMultiSelect">
                        <label class="form-check-label" for="pollMultiSelect">Multiselect</label>
                      </div>
                    <div class="form-group">
                            
                            <div class="input-group mb-3">  
                                <input type="text" class="form-control" id="myInput" name="Option" placeholder="Option"
                                        aria-label="Recipient's UUID" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="but_add" type="button"><i class="bi bi-plus"></i></button>
                                </div>
                            </div>
                            
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="savePoll" data-dismiss="modal">Save changes</button>
                </div>
            </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
        
                $('#but_add').click(function () {
                    var html = '<div class="input-group mb-3"><input type="text" class="form-control" name="Option" ' +
                        'placeholder="Option" aria-label="Recipient\'s UUID" aria-describedby="basic-addon2">' +
                        '<div class="input-group-append"> <button class="btn btn-outline-secondary" id="but_add" type="button" onclick="remove(this)">' +
                        '<i class="bi bi-dash"></i></button></div></div>';
                    var b = document.getElementById("but_add").parentElement.parentElement;
                    $(html).insertAfter(b);
                });
                $('#savePoll').click(function () {
                    var poll = {name: "myPoll", multiselect: true, options: []};
                    poll.name = $("#pollName").val();
                    poll.multiselect = $("#pollMultiSelect").is(":checked");
                    var options = $(this).closest("div.modal-content").find("input[name='Option']");
                    var i = 0
                    for (i = 0; i < options.length; i++) {
                        //poll.options.push(options[i].value);
                        poll.options.push([options[i].value, 0])
                    } 
                    console.log(`Poll <${poll.name}> with multiselect=${poll.multiselect} created with options <${poll.options}>`);
                    var json = JSON.stringify(poll);
                    //alert(json);
                    poll.options.push()
                    var pollMarkup = `
                        <div class="card w-100 mt-2 bg-light">
                            <div class="card-body">
                                <input hidden type="text" name="polls"value='${json}'/>
                                <div class="row align-items-center">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="span10">
                                                <h5 class="card-text">${poll.name}</h5>
                                                <p class="card-text">${poll.options.toString()}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="hiya" class="btn btn-light myButton" onclick="$(this).closest('div.card').fadeOut('fast',function(){$(this).closest('div.card').remove();});"><i class="bi bi-x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    //alert("hoh");
                    $("#pollList").append(pollMarkup);
                });
        
            });
        </script>



            </div>

</body>

