<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:insert="header :: navbar"></div>

<div class="jumbotron">
    <div class="container">
        <h1 th:text="'You\'ve been invited to ' + ${event.getName()}"></h1>
    </div>
</div>

<div class="container">

    <h3>You can choose to register this email address, or continue as a guest!</h3>

    <div class="row">
        <div class="col">
            <div class="container bg-secondary">

                <p style="color: white;">Provide a first name and surname so the event organiser knows who you are. Or don't its completely upto you.</p>

                <form th:action="${ContinueAsGuest}" enctype="multipart/form-data" th:method="GET"
                      id="continueAsGuest" name="continueAsGuest">

                    <label for="FirstName" style="color: white;">First Name: </label>
                    <input type="text" class="form-control" name="FirstName"
                           placeholder="Enter First name...">

                    <label for="LastName" style="color: white;">Surname: </label>
                    <input type="text" class="form-control" name="LastName"
                           placeholder="Enter Surname...">

                    <button type="submit" class="btn btn-primary">Continue As Guest</button>
                </form>
            </div>
        </div>

        <div class="col">
            <div class="container bg-secondary">

                <p style="color: white;">Want to create an account? Create an account with this email now!</p>

                <form th:action="@{/createuser}" enctype="multipart/form-data" th:method="GET"
                      id="register" name="register">
                    <input type="hidden" th:value="${guest.getEmail()}" name="guestEmail">
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div th:insert="footer :: footer"></div>
</body>