<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
</head>

<body>
    <!-- HEADER -->
    <div th:insert="header :: navbar"></div>

    <!-- TITLE BAR -->
    <div class="jumbotron">
        <div class="container">
            <h1>Create an Event</h1>
        </div>
    </div>

     <!-- MAIN BODY -->
     <div class="container">

         <!-- ALERTS -->
        <div th:include="fragments/common :: alerts"></div>

         <!-- EVENT FORM -->
         <form method="POST" enctype="multipart/form-data" id="eventDTO" th:action="@{/v2/event/new}" th:method="PUT">
            <div class="form-group">
                <label for="eventname">Event Name: </label>
                <input type="text" class="form-control form-control-lg" name="name"/><br/>
                <label for="eventdesc">Image: </label>
                <div class="custom-file">
                    <div class="row">
                        <div class="col">
  
                        </div>
                        <div class="col">
                            <input type="file" class="custom-file-input" id="customFile" name="image">
                            <label class="custom-file-label" for="customFile">Choose file</label><br/><br/>
                        </div>
                    </div>
                </div>
                <label for="eventname">Description </label>
                <textarea type="text" class="form-control" name="description"></textarea><br/>
                <input type="hidden" name="location" value="Everywhere"/><br/>
                <input type="hidden" name="latitude" value="0.0"/>
                <input type="hidden" name="longitude"value="0.0"/>
                <input type="hidden" name="radius"value="9.0"/>
                <!-- LOCATION PICKER -->
                <div class="card">
                    <div class="card-header">
                      Location
                      <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Enabled</label>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Where are you?</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div><br/>

                <div class="card">
                    <div class="card-header" style="vertical-align: top;">
                      Dates and Times
                      <div class="custom-control custom-checkbox" style="vertical-align: auto; float: right;">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Enabled</label>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">When are you available?</h5>
                      <p class="card-text">Double click on a date to select it. Click and drag to select multiple.</p>
                    </div>
                  </div><br/>

                <div class="row">
                    <div class="col">
                                      <!-- DATE PICKER -->
            <div id='app'>
                <template>
                    <div class="section text-center">
                        <div class="flex flex-col items-center mb-6">
                            <v-date-picker mode="dateTime" v-model="dateRange" is-range is-expanded :attributes="attrs"></v-date-picker>
                            <!--<span>{{ dateRange.start }}->{{ dateRange.end }}</span>-->
                            <button
                            type="button"
                            class="btn btn-primary btn-block"
                            :class="date ? 'bg-red-500' : 'bg-red-300'"
                            :disabled="!date"
                            @click="addToList()">
                            Add
                          </button>
                        </div>
                    </div>
                </template>
            </div>
                    </div>
                    <div class="col" id="timeRangeList">

                    </div>
                  </div>
            </div>
        
            <input type="text" name="times"/><br/><br/>
            <input type="submit" value="Submit" id="btnSubmit"/>

                <!-- DATE PICKER -->
            <div id='app'>
                <template>
                    <div class="section text-center">
                        <h4>Time Selection & Timezone</h4>
                        <div class="flex flex-col items-center mb-6">
                            <v-date-picker mode="dateTime" v-model="dateRange" is-range :attributes="attrs"></v-date-picker>
                            <span>{{ date.toISOString() }}</span>
                            <button
                            type="button"
                            class="btn btn-primary"
                            :class="date ? 'bg-red-500' : 'bg-red-300'"
                            :disabled="!date"
                            @click="addToList()">
                            Add
                          </button>
                        </div>
                    </div>
                </template>
            </div>

            <template class="dateRange" id=basic>
                <h1 id=start>Hello</h1>
                <h1 id=end>Hello</h1>
            </template>

        </form>
     </div>


         <!-- 1. Link Vue Javascript -->
    <script src='https://unpkg.com/vue/dist/vue.js'></script>

    <!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
    <script src='https://unpkg.com/v-calendar'></script>

    <!--3. Create the Vue instance-->
    <script>
        new Vue({
            el: '#app',
            data() {
                const date = new Date();
                const year = date.getFullYear();
                const month = date.getMonth();
                const start = new Date();
                const end = new Date();
                return {
                    date: new Date(),
                    timezone: '',
                    dateRange: {
                        start,
                        end,
                    },
                    attrs: [
                        {
                            highlight: {
                                start: { fillMode: 'light' },
                                base: { fillMode: 'light' },
                                end: { fillMode: 'light' },
                            },
                            dates: { start: new Date(year, month, 21), end: new Date(year, month, 17) },
                        },
                        {
                            key: 'today',
                            highlight: {
                                color: 'blue',
                                fillMode: 'light',
                                contentClass: 'italic',
                            },
                            dates: new Date(year, month, 4),
                        },
                        {
                            highlight: {
                                color: 'blue',
                                fillMode: 'light',
                            },
                            dates: new Date(year, month, 12),
                        },
                        {
                            highlight: {
                                color: 'blue',
                                fillMode: 'light',
                            },
                            dates: new Date(year, month, 13),
                        },
                    ],
                };
            },
            methods: {
                addToList() {
                    var vm = this;
                    var start = this.$data.dateRange.start.toISOString();
                    var startLocal = this.$data.dateRange.start.toLocaleString();
                    var end = this.$data.dateRange.end.toISOString();
                    var endLocal = this.$data.dateRange.end.toLocaleString();
                    console.log('start:\t'+ start + '\nend:\t' + end);
                    var temp = document.getElementById("basic");
                    temp.innerHTML = start + '---->' + end;
                    var clone = temp.content.cloneNode(true);
                    document.body.appendChild(clone);
                    var dateMarkup = `
                    <div class="card w-100 mt-2 bg-light">
                        <div class="card-body">
                            <input type="hidden" name="times"value="${start}#${end}"/>
                            <div class="row align-items-center">
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="span4"><b>From:&nbsp; </b></div>
                                        <div class="span8">
                                            <p class="card-text">${startLocal}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <h4 style="text-align: center;"><i class="bi bi-arrow-right"></i></h4>
                                </div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="span4"><b>To:&nbsp; </b></div>
                                        <div class="span8">
                                            <p class="card-text">${endLocal}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                    $("#timeRangeList").append(dateMarkup);
                    
                    //this.$data.attrs.append();
                }
            },
        })

    </script>

    <style>
        .card-header#headingOne h2.mb-0 {
  display:flex;
  justify-content:space-between;
}

.fa-pen {
  font-size: 0.75rem;
}
    </style>

</body>