<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
</head>

<body>
    <!-- HEADER -->
    <div th:insert="header :: navbar"></div>

    <!-- TITLE BAR -->
    <div class="jumbotron">
        <div class="container">
            <h1 th:text="${title}">New Event</h1>
            
        </div>
    </div>

    

     <!-- MAIN BODY -->
     <div class="container">

         <!-- ALERTS -->
        <div th:include="fragments/common :: alerts"></div>

         <!-- EVENT FORM -->
         <form method="POST" enctype="multipart/form-data" id="eventDTO" th:action="@{/v2/event/new}" th:method="PUT">
            <div class="form-group">
                <label for="eventname">Event Name: </label>
                <input type="text" class="form-control form-control-lg" name="name" th:value="${event.getName()}"/><br/>
                <label for="eventdesc">Image: </label>
                <div class="custom-file">
                    <div class="row">
                        <div class="col">
  
                        </div>
                        <div class="col">
                            <input type="file" class="custom-file-input" id="customFile" name="image">
                            <label class="custom-file-label" for="customFile">Choose file</label><br/><br/>
                        </div>
                    </div>
                </div>
                <label for="eventname">Description </label>
                <textarea type="text" class="form-control" name="description" placeholder="Description..." th:text="${event.getDescription()}"></textarea><br/>
                <input type="hidden" name="location" th:value="${event.location}"/>
                <input type="hidden" name="latitude" th:value="${event.latitude}"/>
                <input type="hidden" name="longitude" th:value="${event.longitude}"/>
                <input type="hidden" name="radius" th:value="${event.radius}"/>
                <!-- LOCATION PICKER -->
                <div class="card">
                    <div class="card-header">
                        Location
                        <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Enabled</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Where are you?</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div><br/>


                <!-- DATE AND TIMES -->
                <div class="card">
                    <div class="card-header" style="vertical-align: top;">
                        Dates and Times
                        <div class="custom-control custom-checkbox" style="vertical-align: auto; float: right;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Enabled</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">When are you available?</h5>
                        <p class="card-text">Double click on a date to select it. Click and drag to select multiple.</p>
                        <!-- DATE PICKER -->
                        <div class="row">
                            <div class="col-sm-5">
                                          
                            <div th:include="event/fragments_time :: main"></div>
                        </div>
                        <!-- DATE LIST -->
                        <div class="col" id="timeRangeList">
                            <div th:each="time : ${times}">
                                <div class="card w-100 mt-2 bg-light">
                                    <div class="card-body">
                                        <input hidden type="text" name="times" th:value='${time.json}'/>
                                        <div class="row align-items-center">
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="span4"><b>From:&nbsp; </b></div>
                                                    <div class="span8">
                                                        <p class="card-text" th:text="${time.startDate} + ${time.startTime}  "></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <h4 style="text-align: center;"><i class="bi bi-arrow-right"></i></h4>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="span4"><b>To:&nbsp; </b></div>
                                                    <div class="span8">
                                                        <p class="card-text" th:text="${time.endDate} + ${time.endTime}  "></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" id="hiya" class="btn btn-light myButton" onclick="$(this).closest('div.card').remove()"><i class="bi bi-x"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br/>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- FACILITIES PICKER -->
                    <div class="card">
                        <div class="card-header">
                            Venue Facilities
                            <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Enabled</label>
                            </div>
                        </div>
                        <div class="card-body">

                            

                            <h5 class="card-title">What facilities should the venue have?</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>              
                            <div th:include="event/fragments :: facilities_selector"></div>

                        <!-- DATE LIST -->
                        <div id="facilitiesList">
                            <div th:each="facility : ${event.facilities}">
                                <div class="card w-100 mt-2 bg-light">
                                    <div class="card-body">
                                        <input hidden type="text" name="facilities"value='[${serviceName}]'/>
                                        <div class="row align-items-center">
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="span10">
                                                        <p class="card-text"th:text="${facility}">${serviceName}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" id="hiya" class="btn btn-light myButton" onclick="$(this).closest('div.card').fadeOut('fast',function(){$(this).closest('div.card').remove();});"><i class="bi bi-x"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- POLL CREATOR -->
                    <div class="card">
                        <div class="card-header">
                            Participant Polls
                            <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Enabled</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title">Ask some questions!</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                <div th:include="event/fragments :: poll_creator"></div>

                                <!-- DATE LIST -->
                                <div id="pollList">
                                </div>
                            </div>
                        </div>
                    </div><br/>
                </div>
            </div>
        
            <!-- Workaround for zealous Spring WebMvcConfigurerAdapter Formatter on single value inputs-->
            <input type="hidden" name="times" value="null"/>
            <input type="hidden" name="polls"value="null"/>
            <input type="hidden" name="facilities"value="null"/>
            <input type="hidden" name="properties"value="null"/>


            <input class="btn btn-primary btn-block mt-2" type="submit" value="Submit" id="btnSubmit"/>

        </form>
     </div>

     <div th:insert="footer :: footer"></div>


</body>