<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
</head>

<body>
    <!-- HEADER -->
    <div th:insert="header :: navbar"></div>

    <!-- TITLE BAR -->
    <div class="jumbotron">
        <div class="container">
            <h1>New Event</h1>
        </div>
    </div>

     <!-- MAIN BODY -->
     <div class="container">

         <!-- ALERTS -->
        <div th:include="fragments/common :: alerts"></div>

         <!-- EVENT FORM -->
         <form method="POST" enctype="multipart/form-data" id="eventDTO" th:action="@{/v2/event/new}" th:method="PUT">
            <div class="form-group">
                <label for="eventname">Event Name: </label>
                <input type="text" class="form-control form-control-lg" name="name"/><br/>
                <input type="text" class="form-control form-control-lg" name="yolo"/><br/>
                <label for="eventdesc">Image: </label>
                <div class="custom-file">
                    <div class="row">
                        <div class="col">
  
                        </div>
                        <div class="col">
                            <input type="file" class="custom-file-input" id="customFile" name="image">
                            <label class="custom-file-label" for="customFile">Choose file</label><br/><br/>
                        </div>
                    </div>
                </div>
                <label for="eventname">Description </label>
                <textarea type="text" class="form-control" name="description"></textarea><br/>
                <input type="hidden" name="location" value="Everywhere"/><br/>
                <input type="hidden" name="latitude" value="0.0"/>
                <input type="hidden" name="longitude"value="0.0"/>
                <input type="hidden" name="radius"value="9.0"/>
                <!-- LOCATION PICKER -->
                <div class="card">
                    <div class="card-header">
                        Location
                        <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Enabled</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Where are you?</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div><br/>


                <!-- DATE AND TIMES -->
                <div class="card">
                    <div class="card-header" style="vertical-align: top;">
                        Dates and Times
                        <div class="custom-control custom-checkbox" style="vertical-align: auto; float: right;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Enabled</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">When are you available?</h5>
                        <p class="card-text">Double click on a date to select it. Click and drag to select multiple.</p>
                        <!-- DATE PICKER -->
                        <div class="row">
                            <div class="col-sm-5">
                                          
                            <div th:include="event/fragments_time :: main"></div>
                        </div>
                        <!-- DATE LIST -->
                        <div class="col" id="timeRangeList">
                        </div>
                    </div>
                </div>
            </div><br/>
            </div>

            <!-- FACILITIES PICKER -->
            <div class="card">
                <div class="card-header">
                    Venue Facilities
                    <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Enabled</label>
                    </div>
                </div>
                <div class="card-body">

                    
                    <div class="row">
                        <div class="col-sm-5">
                            <h5 class="card-title">What facilities should the venue have?</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>              
                            <div th:include="event/fragments :: facilities_selector"></div>
                        </div>
                        <!-- DATE LIST -->
                        <div class="col" id="facilitiesList">
                        </div>
                    </div>
                </div>
            </div><br/>

            <!-- POLL CREATOR -->
            <div class="card">
                <div class="card-header">
                    Participant Polls
                    <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Enabled</label>
                    </div>
                </div>
                <div class="card-body">

                    
                    <div class="row">
                        <div class="col-sm-5">
                            <h5 class="card-title">Ask some questions!</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>              
                            <div th:include="event/fragments :: poll_creator"></div>
                        </div>
                        <!-- DATE LIST -->
                        <div class="col" id="pollList">
                        </div>
                    </div>
                </div>
            </div><br/>
        
            <!-- Workaround for zealous Spring WebMvcConfigurerAdapter Formatter on single value inputs-->
            <input type="hidden" name="times" value="null"/>
            <input type="hidden" name="polls"value="null"/>
            <input type="hidden" name="facilities"value="null"/>
            <input type="hidden" name="properties"value="null"/>
            <input type="submit" value="Submit" id="btnSubmit"/>

        </form>
     </div>


</body>