<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Let's Meet: New Meet</title>

</head>

<body>
<div class="container">
    <div th:insert="fragments/layout :: sidebar"></div>

    <!-- Page Content  -->
    <div id="content">

        <div th:insert="fragments/layout :: navbar"></div>

        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1"><h1 class="bi" th:classappend="${icon}"></h1></div>
                    <div class="col"><h1 th:text="${title}">Event Name</h1></div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="container">

                <!-- ALERTS -->
                <div th:include="fragments/common :: alerts"></div>

                <!-- EVENT FORM -->
                <form method="POST" enctype="multipart/form-data" id="eventDTO" th:action="${onSubmit}" th:method="PUT">
                    <div class="form-group" th:if="${user.isGuest}">
                        <label for="guestNameInput">Hello guest, who are you?</label>
                        <input type="text" class="form-control" id="guestNameInput" name="guestName" aria-describedby="guestNameInputHelp" placeholder="Enter name">
                        <small id="guestNameInputHelp" class="form-text text-muted">Enter something here to help the organiser know who you are.</small>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="location" th:value="${response.location}" id = "theLocation"/>
                        <input type="hidden" name="latitude" th:value="${response.latitude}" id = "thelat"/>
                        <input type="hidden" name="longitude" th:value="${response.longitude}" id = "thelong"/>
                        <input type="hidden" name="radius" th:value="${response.radius}" id = "myRange2"/>
                        <!-- LOCATION PICKER -->
                        <div class="card">
                            <div class="card-header">
                                Location
                                <div class="custom-control custom-checkbox" style="vertical-align: top; float: right;">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Enabled</label>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Where are you?</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div th:include = "event/fragments :: mapsFragment"></div>
                        </div><br/>


                        <!-- DATE AND TIMES -->
                        <div class="card">
                            <div class="card-header" style="vertical-align: top;">
                                Dates and Times
                                <div class="custom-control custom-checkbox" style="vertical-align: auto; float: right;">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Enabled</label>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">When are you available?</h5>
                                <p class="card-text">Double click on a date to select it. Click and drag to select multiple.</p>
                                <!-- DATE PICKER -->
                                <div class="row">
                                    <div th:each="date : ${eventDates}">
                                        <input class="lm-enabled-dates" type="hidden" name="enabledDates" th:value="${date}"/>
                                    </div>
                                    <div th:each="date : ${selectedDates}">
                                        <input class="lm-selected-dates" type="hidden" name="selectedDates" th:value="${date}"/>
                                    </div>
                                    <div class="col-sm-5">

                                        <div th:include="event/fragments_time :: main"></div>
                                    </div>
                                    <!-- DATE LIST -->
                                    <div class="col" id="timeRangeList">
                                        <div th:each="time : ${times}">
                                            <div class="card w-100 mt-2 bg-light">
                                                <div class="card-body">
                                                    <input hidden type="text" name="times" th:value='${time.toJson()}'/>
                                                    <div class="row align-items-center">
                                                        <div class="col-sm-4">
                                                            <div class="row">
                                                                <div class="span4"><b>From:&nbsp; </b></div>
                                                                <div class="span8">
                                                                    <p class="card-text" th:text="${time.getStart().toString()}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <h4 style="text-align: center;"><i class="bi bi-arrow-right"></i></h4>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="row">
                                                                <div class="span4"><b>To:&nbsp; </b></div>
                                                                <div class="span8">
                                                                    <p class="card-text" th:text="${time.getEnd().toString()}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button" id="hiya" class="btn btn-light myButton" onclick="$(this).closest('div.card').fadeOut('fast',function(){$(this).closest('div.card').remove();});"><i class="bi bi-x"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br/>
                    </div>
                        <!-- POLL CREATOR -->
                        <div class="card">
                            <div class="card-header">
                                Polls
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <!-- DATE LIST -->
                                    <div class="container" id="pollListResponse">
                                        <div th:include="event/fragments :: poll_responder(${polls})"></div>
                                    </div>
                                </div>
                            </div>
                        </div><br/>

                    <!-- Workaround for zealous Spring WebMvcConfigurerAdapter Formatter on single value inputs-->
                    <input type="hidden" name="times" value="null"/>
                    <input type="hidden" name="pollResponse" value="null"/>
                    <input type="hidden" name="facilities" value="null"/>
                    <input type="hidden" name="properties" value="null"/>


                    <input class="btn btn-primary btn-block mt-2" type="submit" value="Submit" id="btnSubmit"/>

                </form>
            </div>


            <div th:insert="footer :: footer"></div>
        </div>
        <div th:insert="fragments/layout :: footer"></div>
    </div>
</div>


     <!-- SCRIPTS -->

     <script>
        // Image upload filename text
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

<script>
    $(document).ready(function () {
        $('.poll-option-checkbox').click(function () {
            // Check if selection is valid
            let selection = $(this).attr("id");
            let inputObj = $(this).closest("div.poll-responder").find("input[name='pollResponse']").val();
            let multiSelect = $(this).closest("div.poll-responder").find("input[name='pollMultiSelect']").val();
            //console.log(selection);
            let selected = JSON.parse(inputObj);
            //alert("Selected: " + this.id);
            console.log(selected);
            //console.log(multiSelect);
            if (multiSelect === "false" && selected[0] !== null){
                //console.log($(this).closest("div.poll-responder").find(`input[type="checkbox"]`).attr(""));
                //alert("Replacing: " + selected[0]);
                //$(this).closest("div.poll-responder").find(`input[id=${selected[0]}]`).find('span').addClass('checked');
                $(this).closest("div.poll-responder").find(`input[id=${selected[0]}]`).prop('checked', false);
                selected = [];
            }
            if (selected.includes(selection)){return;}
            selected.push(selection);
            //console.log(selected);
            $(this).closest("div.poll-responder").find("input[name='pollResponse']").val(JSON.stringify(selected));
            //console.log(JSON.parse(inputObj));
            //alert("changed");
            // Update or create poll response
        });
    });
</script>


</body>
