<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

</body>
<div th:insert = "header :: navbar"></div>

<div class="jumbotron">
    <h1>Update <span th:text="${venue.getName()}"></span></h1>
</div>

<div class="container">
    <form th:action="@{/Venue/{VenueID}/edit (VenueID=${venue.getUUID().toString()})}" method = "post">
        <div class="form-group">
            <label for="venueName">Venue Name: </label>
            <input type="text" class="form-control" name="venueName" th:value="${venue.getName()}" placeholder="Venue Name...">
        </div>

        <div class="form-group">
            <label for="facilities">Venue Facilities:</label>
            <div class="container" id="facilities">

                <div class="row align-items-start" th:each = "fac : ${venue.getFacilities()}">
                    <div class="col">
                        <input type="text" class="form-control" name="facilities"
                               placeholder="Facility Tag..." th:value="${fac}">
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-light" id="remove" onclick="remove(this)">Remove</button>
                    </div>
                </div>

                <div class="col">
                    <button type="button" class="append" id="append">Add More Facilities</button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Venue</button>
    </form>
</div>

<div th:insert = "footer :: footer"></div>
</body>

<script>
    $(document).on('click', '.append', function(){
        var html = '<div class="row align-items-start">\n' +
            '                    <div class="col">\n' +
            '                        <input type="text" class="form-control" name="facilities"\n' +
            '                               placeholder="Facility Tag...">\n' +
            '                    </div>\n' +
            '\n' +
            '                    <div class="col">\n' +
            '                        <button type="button" class="btn btn-light" id="remove" onclick="remove(this)">Remove</button>\n' +
            '                    </div>\n' +
            '                </div>';
        $(html).insertBefore(".append");
    });
</script>

<script>
    function remove(el){
        var myobj = el.parentElement.parentElement;
        myobj.remove();
    }
</script>
</html>