<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert = "header :: navbar"></div>

    <div class = "jumbotron">
        <div class = "container">
            <h1>Search Results</h1>
        </div>
    </div>

    <div class = "container">
        <h3>Events</h3>
        <div class="alert alert-warning" th:text="${'No events found'}" th:if="${empty}"></div>
        <a style="color:black; text-decoration: none; background-color: transparent;" th:each = "e : ${events}" th:href="@{/event/{eventuuid}(eventuuid = ${e.getUUID()})}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text = "${e.getName()}"></h5>
                </div>
            </div>
        </a>
    </div>

    <hr class="featurette-divider">

    <div class="container">
        <h3>Venues</h3>

        <a style="color:black; text-decoration: none; background-color: transparent;" th:each = "v : ${venues}" th:href="@{/Venue/{venueID}(venueID = ${v.getUUID()})}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text = "${v.getName()}"></h5>
                </div>
            </div>
        </a>

    </div>

    <div th:insert = "footer :: footer"></div>

</body>

</html>