<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>



<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:insert="fragments/layout :: sidebar"></div>
<div th:insert="fragments/layout :: navbar"></div>

<div class="jumbotron">
    <div class="container">
        <h1 th:text="'Hello '+ ${user?.fName}"></h1>
        <h5>Welcome to your Let's Meet account.</h5>
    </div>
</div>

<div class="container">

    <div th:insert="fragments/common :: alerts"></div>

    <div class="container">

        <h4> Your personal details <a th:href="${editPath}"><i class="bi bi-pen-fill"></i> Edit</a></h4>
        <p th:text="'Name:' + ${user?.fName} + ' ' + ${user?.lName}"></p>
        <p th:text="'email:' + ${user?.email}"></p>

        <div class="card mt-3">
            <div class="card-header">Let's Meet ID:</div>
            <div class="card-body">
                <p>This ID is unique to you and can be used by other to invite you to their Meets. We may request this ID to help assist you with support queries.</p>
                <p style="font-weight: bold" th:text="${user.getUUID().toString()}"></p>
            </div>
        </div>

        <h2>Your Businesses</h2>
        <div>
            <table class = "table table">
                <thead>
                <tr>
                    <th width="90%" scope = "col">Business Name</th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "b : ${businesses}" id="businessRow">
                    <div th:if ="${b}">
                        <td th:text = "${b.getName()}"></td>
                        <td></td>
                        <td><a class = "btn btn-primary" th:href = "@{/Business/{businessID}(businessID = ${b.getUUID()})}">View</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card bg-danger text-white mt-3">
            <div class="card-header lm-egg-dangerZone">Danger Zone</div>
            <div class="card-body">
                <a class="btn btn-outline-light btn-block" th:href="${deletePath}" role="button">Delete Account</a>
                <p class="card-text">Deleting your account will erase all your personal details including events and invitations from our servers. This action can not be reversed.</p>
            </div>
        </div>

</div>

</div>
<div th:insert="footer :: footer"></div>
<div th:insert="fragments/layout :: footer"></div>

</body>
</html>