<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:insert="fragments/layout :: navbar"></div>

<div class="jumbotron">
    <h1>MyAccount</h1>
</div>

<div class="container">

    <div class = "alert alert-success" th:text = "${success}" th:if = "${success}"></div>
    <div class = "alert alert-danger" th:text = "${danger}" th:if = "${danger}"></div>

    <div class="container">
        <h2 th:text="'Your LetsMeet ID is: ' + ${user.getUUID().toString()}"></h2>
        <p>This ID can be used by your friends to invite you to events!</p>
    </div>

    <div class="row">
        <form th:action="${editPath}" enctype="multipart/form-data" th:method="GET"
              id="editAccount" name="editAccount">
            <button type="submit" class="btn btn-info">Edit Account</button>
        </form>

        <form th:action="${deletePath}" enctype="multipart/form-data" th:method="GET"
              id="delete" name="delete">
            <button type="submit" class="btn btn-warning">Delete Account</button>
        </form>
    </div>
</div>

<div th:insert="footer :: footer"></div>
</body>
</html>