<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>

<body>
    <div th:fragment="login">

        <form th:action="@{/login}" method="POST">

            <div class="form-group">
                <label for="loginemail"><span th:text="#{user.email}"></span> </label>

                <input type="text" class="form-control" name="loginemail" th:placeholder="#{user.email}+'...'">

            </div>

            <div class="form-group">
                <label for="eventdesc"><span th:text="#{user.password}"></span> </label>
                <input type="password" class="form-control" name="loginpassword" th:placeholder="#{user.password}+'...'">
            </div>

            <button type="submit" class="btn btn-primary"><span th:text="#{user.login}"></span></button>
        </form>
    </div>
</body>