<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="bootstrap">
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </div>

    <div th:fragment="bootstrap_tab">
        <script src="/js/bootstrap-tabs.js"></script>
    </div>

    <div th:fragment="jquery">
        <script src="/js/jquery-3.5.1.js"></script>
    </div>
</body>

</html>
