<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="bootstrap">
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <script src="/js/bootstrap.min.js"></script> <!-- For some reason this is still required for some elements to work event when script below is loaded-->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    </div>

    <div th:fragment="bootstrap_tab">
        <script src="/js/bootstrap-tabs.js"></script>
        <!-- CSS only -->
        
    </div>

    <div th:fragment="jquery">
        <script src="/js/jquery-3.5.1.js"></script>
    </div>

    <div th:fragment="letsmeet">
        <script src="/js/letsmeet.js"></script>
    </div>
</body>

</html>
