<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>


<body>
    <div th:fragment="basic_search">
        <form class="d-flex">
            <input class="form-control me-2" id="searchBox" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline" type="button" onclick="window.open(`/search?term=${document.getElementById('searchBox').value}`,'_self');" style="position: relative; left: -50px"><i class="bi bi-search"></i></button>
        </form>
    </div>
</body>