<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>


<body>
    <div th:fragment="basic_search">
        <form class="d-flex" id="searchForm">
            <input class="form-control me-2 bg-primary text-white btn-outline-secondary" id="searchBox" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit" style="position: relative; left: -20px"><i class="bi bi-search"></i></button>
        </form>

        <script>
            $('#searchForm').submit(function() {
                alert("2hi");
                let val = document.getElementById('searchBox').value;
                if (val.length > 0){
                    window.open(`/search?term=${document.getElementById('searchBox').value}`,'_self')
                }
                else{
                    document.getElementById('searchBox').placeholder = "Search for something!";
                }
                return false; // return false to cancel form action
            });
        </script>
    </div>
</body>