@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open Sans:300,400,500,600,700");

$lm-primary :rgb(49, 50, 130);
$lm-secondary: #F80074;

$theme-colors: (
    "primary": $lm-primary,
    "secondary": $lm-secondary,
);

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Poppins", "Open Sans" , "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Bootstrap is not included, point this to your bootstrap installation
@import "bootstrap/scss/bootstrap";

/* ---------------------------------------------------
   Cover style
----------------------------------------------------- */

.lm-cover{
    background-image: url("/images/Background 18.svg");
    background-size: cover;
    height: 25pc;
    border-radius: 0;
    top: 0;
}

.lm-jumbotron{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    /*padding: 15px 10px;*/
    background: $lm-primary;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.5);
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    z-index: 999;
    background: $white;
    color: #6f6f6f;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: $white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: $lm-primary;
    color: $white;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    height: 96px;
    padding: 20px;
    background: $lm-secondary;
    color: $white;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar a:hover { text-decoration: none; }

#sidebar ul p {
    color: #1565c0;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    text-decoration: none;
    background: rgba(49, 50, 130, 0.29);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: $white;
    background:$lm-primary;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(52, 58, 64, 0.2);
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/* Quick hack for calendar colours Inline #16 | http://localhost:8080/event/new */

.vc-container {
    /* --blue-200: #bee3f8; */
    /* --blue-400: #63b3ed; */
    /* --blue-500: #4299e1; */
    /* --blue-600: #3182ce; */
    --blue-200: #b8b8d4 !important;
    --blue-400: #313282 !important;
    --blue-500: #7d7d9b !important;
    --blue-600: #313282 !important;
  }
  