<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:fragment="invite">
    <form th:action="@{/Business/{BusinessID}/addUsers(BusinessID = ${business.getUUID().toString()})}" enctype="multipart/form-data" th:method="POST">
        <div class="form-group">
            <div class="container">
                <row>
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Caution</h4>
                        Enter the required users UUID string (e.g. 244ab0d3-332c-4aeb-83d8-962e21bff7c1) or email.
                    </div>
                </row>
            </div>
        </div>

        <div class="form-group">
            <div class="container" id="User">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="myInput" name="User" placeholder="Recipient's UUID"
                           aria-label="Recipient's UUID" aria-describedby="basic-addon2">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="but_add" type="button"><i class="bi bi-plus"></i></button>
                    </div>

                </div>

            </div>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>

    <script>
        $(document).ready(function () {

            $('#but_add').click(function () {
                var html = '<div class="input-group mb-3">' +
                    '<input type="text" class="form-control" id="myInput" name="User" placeholder="Recipient\'s UUID" ' +
                    'aria-label="Recipient\'s UUID" aria-describedby="basic-addon2">' +
                    '<div class="input-group-append">' +
                    '<button class="btn btn-outline-secondary" id="but_add" type="button" onclick="remove(this)">' +
                    '<i class="bi bi-dash"></i>' +
                    '</button></div></div>';
                var b = document.getElementById("but_add").parentElement.parentElement;
                $(html).insertAfter(b);
            });

        });
    </script>

    <script>
        function remove(el){
            var myobj = el.parentElement.parentElement;
            myobj.remove();
        }
    </script>
</div>

</body>
</html>