<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Let's Meet: Home</title>

  <style th:inline="text">
    .body{
      background-color: #191345;
    }

    .cover{
      background-image: url("images/Background 18.svg");
      background-size: cover;
      height: 25pc;
      border-radius: 0;
      top: 0;
    }

    .jumbotron{
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
  </style>

</head>

<body >
<div class="container">
  <div th:insert="fragments/layout :: sidebar"></div>

  <!-- Page Content  -->
  <div id="content" >

    <div th:insert="fragments/layout :: navbar"></div>


    <div class="container">

      <br>

      <div th:insert="fragments/common :: alerts"></div>
      <div class="jumbotron bg-primary text-white" >
        <div class="row">
          <div class="col-sm-10">
            <h1 id = "firstHeader">About Us - Team Delta</h1><br>
            <h3>University of Aberdeen - CS3528 Software Engineering</h3><hr>
            <a>Hamish Weir - <i>Team Leader</i></a><br>
            <a>Cael Milne - <i>Deputy Team Leader</i></a><br>
            <a>Faizan Mohiuddin</a><br>
            <a>Ellie Hutchinson</a><br>
            <a>Wojchiech Wilk</a><br>
          </div>
        </div>
      </div>

    <div th:insert="footer :: footer"></div>
  </div>
</div>
  <div th:insert="fragments/layout :: footer"></div>
</body>

</html>