<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert = "header :: navbar"></div>

    <div class = "jumbotron">
        <div class = "container">
            <h1>View all Events</h1>
        </div>
    </div>

    <div class = "container">
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "col">Event UUID</th>
                    <th scope = "col">Name</th>
                    <th scope = "col">Description</th>
                    <th scope = "col">Location</th>
                    <th scope = "col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "event : ${allevents}">
                    <td th:text = "${event.UUID}"></td>
                    <td th:text = "${event.name}"></td>
                    <td th:text = "${event.description}"></td>
                    <td th:text = "${event.location}"></td>
                    <td><a class = "btn btn-light" th:href = "@{/event/{eventUUID}(eventUUID = ${event.UUID})}">view</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:insert = "footer :: footer"></div>

</body>

</html>