<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert = "header :: navbar"></div>

    <div class = "jumbotron">
        <div class = "container">
            <h1>View all Users</h1>
        </div>
    </div>

    <div class = "container">
        <div class = "alert alert-success" th:text = "${success}" th:if = "${success}"></div>
        <div class = "alert alert-danger" th:text = "${danger}" th:if = "${danger}"></div>
        <table class = "table table">
            <thead>
                <tr>
                    <th scope = "col">User UUID</th>
                    <th scope = "col">First Name</th>
                    <th scope = "col">Last Name</th>
                    <th scope = "col">E-mail</th>
                    <th scope = "col">Password Hash</th>
                    <th scope = "col">Salt</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "user : ${users}">
                    <td th:text = "${user.UUID}"></td>
                    <td th:text = "${user.fName}"></td>
                    <td th:text = "${user.lName}"></td>
                    <td th:text = "${user.email}"></td>
                    <td th:text = "${user.passwordHash}"></td>
                    <td th:text = "${user.salt}"></td>
                    <td><a class = "btn btn-danger" th:href = "@{/deleteuser/{useruuid}(useruuid = ${user.UUID})}">Delete</a></td>
                    <td><a class = "btn btn-warning" th:href = "@{/edituser/{useruuid}(useruuid = ${user.UUID})}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:insert = "footer :: footer"></div>

</body>

</html>