<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">


<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });
    });
</script>

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert="header :: navbar"></div>

    <div class="jumbotron">
        <div class="container">
            <h1>Create an Event</h1>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/createevent}" enctype="multipart/form-data" th:method="PUT">

            <div class="form-group">
                <label for="eventname">Event Name: </label>
                <input type="text" class="form-control" name="eventname" th:value="*{eventname}"
                    placeholder="Enter event name...">
            </div>

            <div class="form-group">
                <label for="eventdesc">Image: </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>

            <div class="form-group">
                <label for="eventdesc">Event Description: </label>
                <input type="text" class="form-control" name="eventdesc" placeholder="Description...">
            </div>

            <div class="form-group">
                <label for="eventlocation">Event Location:</label>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGkRb7154Ch4upt_uiosj0tVEpTbt8MqM&libraries=places">
                function initAutocomplete() {
                    const map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: -33.8688, lng: 151.2195 },
                        zoom: 13,
                        mapTypeId: "roadmap",
                    });
                    // Create the search box and link it to the UI element.
                    const input = document.getElementById("pac-input");
                    const searchBox = new google.maps.places.SearchBox(input);
                    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                    // Bias the SearchBox results towards current map's viewport.
                    map.addListener("bounds_changed", () => {
                        searchBox.setBounds(map.getBounds());
                    });
                    let markers = [];
                    // Listen for the event fired when the user selects a prediction and retrieve
                    // more details for that place.
                    searchBox.addListener("places_changed", () => {
                        const places = searchBox.getPlaces();

                        if (places.length == 0) {
                            return;
                        }
                        // Clear out the old markers.
                        markers.forEach((marker) => {
                            marker.setMap(null);
                        });
                        markers = [];
                        // For each place, get the icon, name and location.
                        const bounds = new google.maps.LatLngBounds();
                        places.forEach((place) => {
                            if (!place.geometry || !place.geometry.location) {
                                console.log("Returned place contains no geometry");
                                return;
                            }
                            const icon = {
                                url: place.icon,
                                size: new google.maps.Size(71, 71),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(17, 34),
                                scaledSize: new google.maps.Size(25, 25),
                            };
                            // Create a marker for each place.
                            markers.push(
                                new google.maps.Marker({
                                    map,
                                    icon,
                                    title: place.name,
                                    position: place.geometry.location,
                                })
                            );

                            if (place.geometry.viewport) {
                                // Only geocodes have viewport.
                                bounds.union(place.geometry.viewport);
                            } else {
                                bounds.extend(place.geometry.location);
                            }
                        });
                        map.fitBounds(bounds);
                    });
                }
                </script>
            </div>

            <div class="form-group">
                <label for="eventTimes">Event Times:</label>
                <div class="container" id="timeRangeGroup">
                    <div class="row align-items-start">
                        <div class="col">
                            <input type="datetime" class="form-control datepicker" name="eventlocation"
                                placeholder="From...">
                        </div>
                        <div class="col">
                            <input type="datetime" class="form-control datepicker" name="eventlocation"
                                placeholder="Until...">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light" onclick="msg()">Remove</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light" onclick="msg()">Add</button>
                        </div>
                    </div>

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div th:insert="footer :: footer"></div>

    <script>
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

</html>