<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert = "header :: navbar"></div>

    <div class = "jumbotron">
        <div class = "container">
            <h1>Create a User</h1>
        </div>
    </div>

    <div class = "container">
        <div class = "alert alert-danger" th:text = "${registerFailed}" th:if = "${registerFailed}"></div>
        <form th:action = "@{/saveuser}">
            <div class="form-group">
              <label for="userfirstname">First Name: </label>
              <input type="text" class="form-control" name="userfirstname" th:value = "*{userfirstname}" placeholder="Enter first name...">
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="form-group">
              <label for="userlastname">Last Name: </label>
              <input type="text" class="form-control" name="userlastname" placeholder="Last name...">
                <small class="form-text text-muted">Required</small>
            </div>


            <div class = "form-group">
                <label for = "useremail">E-mail: </label>

                <input th:if="${GivenGuestEmail == null}"  type="text" class="form-control" name="useremail" placeholder="E-mail...">

                <input th:unless="${GivenGuestEmail == null}"  type="text" class="form-control" name="useremail" placeholder="E-mail..."
                       th:value="${GivenGuestEmail}" readonly>

                <small class="form-text text-muted">Required - must contain an "<i>@</i>" and "<i>.</i>"</small>
            </div>


            <div class = "form-group">
                <label for = "userpassword">Password: </label>
                <input type = "password" class = "form-control" name = "userpassword" placeholder="Password...">
                <small class="form-text text-muted">Required - must be 6 characters or longer.</small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
    </div>
    <div th:insert = "footer :: footer"></div>
</body>

</html>