<!DOCTYPE html>
<div th:include="fragments/js :: jquery" xmlns="http://www.w3.org/1999/html"></div>
<div th:include="fragments/js :: bootstrap"></div>


<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Lets Meet: Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<script>
    var thearrayofevents = [];
</script>

<div class="container">
    <div th:insert="fragments/layout :: sidebar"></div>

    <!-- Page Content  -->
    <div id="content">

        <div th:insert="fragments/layout :: navbar"></div>

        <div class = "jumbotron">
            <div class = "container">
                <h1><span th:text="#{user.dashboard2}"></span></h1>
            </div>
        </div>

        <div class = "container">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><span th:text="#{events}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                        <span th:text="#{event.invite.invites}"></span>
                        <span class="badge badge-secondary" th:if="${newResponses > 0 && newResponses <= 10}" th:text="${newResponses}"></span>
                        <span class="badge badge-secondary" th:if="${newResponses > 10}">10+</span>
                    </a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="btn btn-outline-primary" href="/event/new"><i class="bi bi-plus"></i> <span th:text="#{event.new}"></span></a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <div class = "alert alert-primary" th:if = "${events.isEmpty()}"><span th:text="#{event.user.none}"> </span><a class="btn btn-link" href="/event/new"><span th:text="#{event.new}"></span></a></div>

                    <div th:each="event : ${events}">
                        <div class="card mb-3 lm-entity">
                            <h5 class="card-header p-4" style="background-image: url('images/Background 18.svg');background-size: cover;">
                                <span class="p-1 mb-2 bg-light text-dark rounded" th:text="${event.getName()}"></span>
                            </h5>
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted"><i class="bi bi-geo-fill"> </i><span th:text="#{event.location} + ': ' + ${event.getEventProperties().getLocation().getName()}"></span></small></p>
                                <p class="card-text" th:text="${event.getDescription().substring(0,((event.getDescription().length() > 250)? 250 : event.getDescription().length())) } +${(event.getDescription().length() > 250)? '...' : ''}"></p>
                            </div>
                            <div class="card-body">
                                <a th:href = "@{/event/{eventuuid}(eventuuid = ${event.getUUID()})}" class="btn btn-primary mr-3"><span th:text="#{core.common.details}"></span></a>
                                <a th:href = "@{/event/{eventuuid}/edit(eventuuid = ${event.getUUID()})}" class="card-link"><span th:text="#{core.common.edit}"></span></a>
                                <a th:href = "@{/event/{eventuuid}/results(eventuuid = ${event.getUUID()})}" class="card-link"><span th:text="#{event.result.results}"></span></a>
                                <button class="btn btn-link float-right lm-api-event-delete" href=""><span th:text="#{core.common.delete}"></span></button>
                                <input type="hidden" class="lm-data uuid" th:value="${event.getUUID()}">
                            </div>
                        </div>

                        <script th:inline="javascript">
                            /*<![CDATA[*/

                            var theEvent = /*[[${event}]]*/ 'default';
                            if (theEvent.eventProperties.times.length > 0) {
                                console.log("This event: " + theEvent.name + " has dates.")
                                thearrayofevents.push(theEvent);
                            }

                            /*]]>*/
                        </script>

                    </div>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <div class = "alert alert-primary" th:if = "${responses.isEmpty()}"><span th:text="#{event.response.user.none}"></span></div>

                    <div th:each="response : ${responses}">
                        <div class="card mb-3 lm-entity">
                            <h5 class="card-header bg-light text-dark">
                                <span th:text="${response.value.getName()}"></span>
                                <span class="badge badge-primary" th:if="${response.key.getRequired()}"><span th:text="#{event.VIP}"></span></span>
                                <span class="badge badge-secondary" th:if="${!response.key.hasResponded()}"><span th:text="#{core.common.new2}"></span></span>
                            </h5>
                            <div class="card-body">
                                <p class="card-text" th:text="${response.value.getDescription().substring(0,((response.value.getDescription().length() > 60)? 60 : response.value.getDescription().length())) }"></p>
                            </div>
                            <div class="card-body">
                                <a th:href = "@{/event/{eventuuid}/respond(eventuuid = ${response.value.getUUID()})}" class="btn btn-primary mr-3"><span th:text="#{event.response.respond}"></span></a>
                                <a th:href = "@{/event/{eventuuid}(eventuuid = ${response.value.getUUID()})}" class="card-link"><span th:text="#{core.common.details}"></span></a>
                                <button class="btn btn-link float-right lm-api-event-response-delete" href=""><span th:text="#{core.common.delete}"></span></button>
                                <input type="hidden" class="lm-data uuid" th:value="${response.value.getUUID()}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>








            <div th:insert="footer :: footer"></div>
        </div>



    </div>
    <div th:insert="fragments/layout :: footer"></div>

</body>

</html>
