<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>


<html xmlns:th="http://www.thymeleaf.org">

<script>
    function deleteResponse(userID, eventID){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                //document.getElementById("demo").innerHTML = this.responseText;
                $(`#${eventID}`).parent().parent().remove();
            }
        };
        let requestURL = `http://localhost:8080/api/Event/${eventID}/Response`
        xhttp.open("DELETE", requestURL);
        xhttp.send();
        //$(`#${eventID}`).parent().append('<div class="spinner-border" role="status"><span class="visually-hidden">Working...</span></div>');
        $(`#${eventID}`).text("Deleting...");
    }
</script>

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:insert = "header :: navbar"></div>

<div class = "jumbotron">
    <div class = "container">
        <h1>Your Dashboard</h1>
    </div>
</div>

<div class = "container">
    <h2>Your Events</h2>
    <div class = "alert alert-warning" th:if = "${noEvents}">You are not currently in any events.</div>
    <div class = "alert alert-success" th:text = "${success}" th:if = "${success}"></div>
    <div class = "alert alert-danger" th:text = "${danger}" th:if = "${danger}"></div>
    <div th:unless = "${noEvents}">
        <table class = "table table">
            <thead>
                <tr>
                    <th scope = "col">Event Name</th>
                    <th scope = "col">Description</th>
                    <th scope = "col">Location</th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "myEvents : ${myEvents}">
                    <td th:text = "${myEvents.name}"></td>
                    <td th:text = "${myEvents.description}"></td>
                    <td th:text = "${myEvents.location}"></td>
                    <td><a class = "btn btn-primary" th:href = "@{/event/{eventuuid}(eventuuid = ${myEvents.getUUID()})}">View</a></td>
                    <td><a class = "btn btn-danger" th:href = "@{/deleteevent/{eventuuid}(eventuuid = ${myEvents.getUUID()})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Your Responses</h2>
    <div>
        <table class = "table table">
            <thead>
                <tr>
                    <th scope = "col">Event Name</th>
                    <th scope = "col">Required</th>
                    <th scope = "col">Responded</th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "response : ${responses}" id="hiya">
                    <div th:if = "${response}">
                        <td th:text = "${response.event.getName()}" ></td>
                        <td th:text = "${response.response.required}"></td>
                        <td th:text = "${response.response.hasResponded()}"></td>
                        <td><a class = "btn btn-danger" style=" color: white !important;" th:id = "${response.event.UUID}" onclick="deleteResponse()" th:attr="onclick=|deleteResponse('${user.UUID}','${response.event.UUID}')|">Delete</a></td>
                    </div>
                    <div th:unless = "${response}">
                        <td th:text = "${response} +''">Null entity</td>
                        <td></td>
                        <td></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Your Businesses</h2>
    <div>
        <table class = "table table">
            <thead>
                <tr>
                    <th scope = "col">Business Name</th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "b : ${businesses}" id="businessRow">
                    <div th:if ="${b}">
                        <td th:text = "${b.getName()}"></td>
                        <td></td>
                        <td><a class = "btn btn-primary" th:href = "@{/Business/{businessID}(businessID = ${b.getUUID()})}">View</a></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert = "footer :: footer"></div>

</body>

</html>
