<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:insert = "header :: navbar"></div>

<div class = "jumbotron">
    <div class = "container">
        <h1>Your Dashboard</h1>
    </div>
</div>

<div class = "container">
    <h2>Your Events</h2>
    <div class = "alert alert-warning" th:if = "${noEvents}">You are not currently in any events.</div>
    <div class = "alert alert-success" th:text = "${success}" th:if = "${success}"></div>
    <div class = "alert alert-danger" th:text = "${danger}" th:if = "${danger}"></div>
    <div th:unless = "${noEvents}">
        <table class = "table table">
            <thead>
                <tr>
                    <th scope = "col">Event Name</th>
                    <th scope = "col">Description</th>
                    <th scope = "col">Location</th>
                    <th scope = "col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "myEvents : ${myEvents}">
                    <td th:text = "${myEvents.name}"></td>
                    <td th:text = "${myEvents.description}"></td>
                    <td th:text = "${myEvents.location}"></td>
                    <td><a class = "btn btn-danger" th:href = "@{/deleteevent/{eventuuid}(eventuuid = ${myEvents.getUUID()})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert = "footer :: footer"></div>

</body>

</html>
