<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment = "navbar">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="Home">LetsMeet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href = "Home">Home </a>
                <a class="nav-item nav-link" href="/createuser">Register</a>
                <a th:if="${session.userfirstname != null}" class="nav-item nav-link" href="#">Log out</a>
              </div>
            </div>
            <div class="text-right">
                <th th:unless="${session == null}"> Welcome </th>
                <th th:text="${session.userfirstname}" th:unless="${session == null}"> . </th>
            </div>
          </nav>

    </div>
</body>

</html>