<!DOCTYPE HTML>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert="header :: navbar"></div>

    <div class="jumbotron" th:style="'background:url('+ @{images/home_banner.png} +');border-radius: 0%;'">
        <div class="container">
            <img src="../static/images/Home_banner_text.svg" th:src="@{images/Home_banner_text.svg}" width="400"
                class="img-responsive" />

        </div>
    </div>

    <div class="container">
        <div class="alert alert-success" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-warning" th:text="${loggedout}" th:if="${loggedout}"></div>
        <div class="alert alert-warning" th:text="${alreadyLoggedIn}" th:if="${alreadyLoggedIn}"></div>
        <div class="alert alert-danger" th:text="${accessDenied}" th:if="${accessDenied}"></div>

        <div class="row align-items-start">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Create your event</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a class="btn btn-primary" href="/createevent" role="button">Create an Event</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" th:unless="${user}" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Get Started</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row mt-2">
                            <div class="col-sm"><a class="btn btn-primary" href="/login" role="button">Login</a></div>
                            <div class="col-sm"><a class="btn btn-outline-primary" href="/createuser"
                                    role="button">Register</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" th:if="${user}" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="card-text">Manage and respond to events from your dashboard.</p>
                        <div class="col-sm"><a class="btn btn-primary" href="/dashboard" role="button">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <h1>&nbsp;</h1>

        <div class="card border-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Debug Tools</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-primary" href="/adminviewallevents" role="button">View Events</a>
                    </div>
                    <div class="col-sm">
                        <a class="btn btn-primary" href="/adminviewallusers" role="button">View Users</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    </div>
    <div th:insert="footer :: footer"></div>

</body>

</html>