<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Let's Meet: Home</title>

    <style th:inline="text">
        .body{
            background-color: #191345;
        }

        .cover{
            background-image: url("images/Background 18.svg");
            background-size: cover;
            height: 25pc;
            border-radius: 0;
            top: 0;
        }

        .jumbotron{
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        }
    </style>

</head>

<body >
<div class="container">
    <div th:insert="fragments/layout :: sidebar"></div>

    <!-- Page Content  -->
    <div id="content" >

        <div th:insert="fragments/layout :: navbar"></div>

        <div class="jumbotron cover bg-primary">
            <div class="container">
                <img src="../static/images/Home_banner_text.svg" th:src="@{images/Home_banner_text.svg}" width="650" style="max-width: 100%"
                     class="img-responsive" alt=""/>
            </div>
        </div>

        <div class="container" >
            <div th:insert="fragments/common :: alerts"></div>
            <div class="jumbotron bg-primary text-white" >
                <div class="row">
                    <div class="col-sm-7">
                        <h1 id = "firstHeader">An easier way to <b>Meet.</b></h1><br>
                        <h5 id = "firstSubheader">Accommodate <i>everyone</i></h5>
                        <a id = "firstParagraph">With LetsMeet, participants in your Meet can seamlessly say what times work best for them and can specify other conditions they would like met in the Meet.</a><br><br>
                        <h5 id = "secondSubheader">Remain <i>flexible</i></h5>
                        <a id = "secondParagraph">We take care of the hard work. Our scheduling algorithm will determine the optimum times for your Meet to take place within a time range.</a><br><br>
                        <div class="row mt-2 w-75" th:unless="${user}" >
                            <div class="col-sm-8"><a class="btn btn-light btn-block" href="/createuser" role="button">Sign Up</a></div>
                            <div class="col-sm"><a class="btn btn-outline-light btn-block" data-toggle="modal" data-target="#myModal" role="button">Login</a></div>
                        </div>
                        <div class="row mt-2 w-75" th:if="${user}" >
                            <div class="col-sm"><a class="btn btn-light btn-block" href="/event/new" role="button">Create a Meet</a></div>
                        </div>

                    </div>
                    <div class="col-sm-5">
                        <img src="/images/iso_team.svg" class="img-responsive float-right" alt="Responsive image"/>
                    </div>
                </div>
            </div>

            <div class="jumbotron bg-secondary text-white">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="/images/iso_tech.svg" class="img-responsive float-right" alt="Responsive image"/>
                        <div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <h1 id = "secondHeader">Built for <b>Business.</b></h1><br>
                        <h5 id = "thirdSubheader">Be <i>visible</i></h5>
                        <a id = "thirdParagraph">Register your business with LetsMeet for more exposure and recognisability for your brand.</a><br><br>
                        <a class="btn btn-light" href="/old/business/new" role="button"> Register your Venue</a><br><br>
                        <h5 id = "fourthSubheader">Designed for <i>integration</i></h5>
                        <a id = "fourthParagraph">Power user? You can utilise LetsMeet's API capabilities to incorporate in your own application.</a><br><br>
                        <a class="btn btn-light" href="" role="button"> API Documentation</a><br><br>
                    </div>
                </div>

            </div>
            <p class="text-sm-right" style="font-size: x-small">Graphics by <a href="https://www.vecteezy.com/?utm_source=vecteezy-download&utm_medium=license-info-pdf&utm_campaign=license-info-document">Vecteezy.com</a></p>
        </div>

        <div th:insert="footer :: footer"></div>
    </div>
    <div th:insert="fragments/layout :: footer"></div>


</div>
</body>

</html>