<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert = "header :: navbar"></div>

    <div class = "jumbotron">
        <div class = "container">
            <h1>Login</h1>
        </div>
    </div>

    <div class = "container">
        <div class = "alert alert-danger" th:text = "${error}" th:if = "${error}"></div>
        <div th:insert="fragments/auth :: login"></div>
    </div>
    
    <div th:insert = "footer :: footer"></div>
</body>

</html>