<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>Let's Meet: Login</title>

</head>

<body>
    <div class="container">
        <div th:insert="fragments/layout :: sidebar"></div>

        <!-- Page Content  -->
        <div id="content">

            <div th:insert="fragments/layout :: navbar"></div>

            <div class="jumbotron">
                <div class="container">
                    <h1>Login</h1>
                </div>
            </div>

            <div class="container">
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <div th:insert="fragments/auth :: login"></div>
            </div>

            <div th:insert="footer :: footer"></div>

        </div>

    </div>
    <div th:insert="fragments/layout :: footer"></div>
</body>

</html>