<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<html>
    <body>
        <div th:insert = "header :: navbar"></div>

        <div class = "jumbotron">
            <div class = "container">
                <h1>Successfully created a User!</h1>
            </div>
        </div>

        <div class = "container">
            <p><b>First name: </b><span th:text="${userfirstname}"></span></p>
            <p><b>Last name: </b><span th:text="${userlastname}"></span></p>
            <p><b>E-mail: </b><span th:text="${useremail}"></span></p>
            <p><b>Password: </b><span th:text="${userpassword}"></span></p>
        </div>
        <div th:insert = "footer :: footer"></div>
    </body>
</html>