<!DOCTYPE html>
<div th:include="fragments/js :: jquery"></div>
<div th:include="fragments/js :: bootstrap"></div>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lets Meet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<html>

<body>

<div th:insert = "header :: navbar"></div>

<div class = "jumbotron" th:if="${event.properties.properties.get('header_image')}" th:style="'background:url('+'/'+ ${event.properties.properties.get('header_image')} +');border-radius: 0%;'">

    <div class = "container">
        <h5>Event:</span></h5>
        <h1><span th:text="${event.getName()}"></span></h1>
    </div>

</div>

<div class = "jumbotron" th:unless="${event.properties.properties.get('header_image')}">

    <div class = "container">
        <h5>Event:</span></h5>
        <h1><span th:text="${event.getName()}"></span></h1>
    </div>

</div>


<div class = "container">

    <div class = "alert alert-primary" th:if="${isOwnerOfEvent}">You are the owner of this event.</div>
    <div class = "alert alert-info" th:unless = "${hasUserRespondedToEvent}">
        <div class="row align-items-start">
            <div class="col-sm-9">You have not responded to this event. Let the organiser know your preferences! </div>
            <div class="col-sm-3"><a class = "btn btn-success" th:href="@{/event/{eventuuid}/respond2(eventuuid = ${event.getUUID()})}">Add Response</a></div>
        </div>
    </div>
    <div class = "alert alert-success" th:text = "${success}" th:if = "${success}"></div>
    <div class = "alert alert-danger" th:text = "${danger}" th:if = "${danger}"></div>

    <p><b>Event name: </b><span th:text="${event.getName()}"></span></p>
    <p><b>Event description: </b><span th:text="${event.getDescription()}"></span></p>
    <p><b>Event location: </b><span th:text="${event.getLocation()}"></span></p>
</div>


<div class = "container" th:if="${isOwnerOfEvent}">
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">Participants</th>
                <th scope = "col">Must attend?</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "response : ${responses}">
                <td th:text = "${response.fname}  + ' ' + ${response.lname}"></td>
                <td th:text = "${response.must_attend}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:insert = "footer :: footer"></div>

</body>

</html>
